.button {
  display: block;
  width: 191px;
  height: 40px;
  margin: 0 auto;
  background-color: $primary-color;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: $second-color;
  border-radius: 2px;
}
.button.dark {
  background-color: $second-color;
  color: $primary-color;
}
