.button {
  display: block;
  width: 191px;
  height: 40px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  border-radius: 2px;
}
.button.dark {
  background-color: #000000;
  color: #ffffff;
}
