.footer__main {
  position: relative;
  padding-top: 31px;
  background-color: #111111;
}
.footer__main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  background-color: #999999;
  opacity: 0.1;
  width: 1295px;
  transform: translateX(-50%);
}
.bottom-line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer__social-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__social-icon-insta {
  fill: $primary-color;
  width: 16px;
  height: 16px;
}

.footer__logo {
  margin-bottom: 66px;
}

.footer__social-title {
  font-family: Fiorina Subhead;
  font-style: italic;
  margin: 0 17px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: $primary-color;
  padding-left: 10px;
}

.footer__contacts-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $primary-color;
  margin-top: 0;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.footer__contacts {
  padding-top: 5px;
}
.footer__contacts-address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  margin-top: 0;
  margin-bottom: 19px;
}

.footer__contacts-tel {
  font-family: Georgia;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: $primary-color;
  text-decoration: none;
}
.footer__form {
}

.footer__form-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $primary-color;
  margin-top: 0;
  margin-bottom: 23px;
}

.footer__form-input {
  width: 412px;
  height: 40px;
  margin-bottom: 41px;
  padding-left: 19px;
}

.footer__form-input::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 128%;
  color: #c4c4c4;
}

.footer__form-btn {
  display: block;
  font-family: Roboto, sans-serif;
  width: 191px;
  height: 40px;
  background-color: #111111;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: $primary-color;
  border: 1px solid $primary-color;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.footer__form-btn:hover,
.footer__form-btn:focus {
  background-color: $primary-color;
  color: $second-color;
}
//    <div class="footer__form">
//             <p class="footer__form-title">
//               ПОЛУЧИТЕ СКИДКУ 1000 РУБ НА ПЕРВЫЙ ЗАКАЗ
//             </p>
//             <input
//               class="footer__form-input"
//               type="text"
//               placeholder="Введите E-mail"
//             />
//             <button class="footer__form-btn">Получить скидку</button>
//           </div>
.second {
  background-color: #111111;
  padding-bottom: 83px;
}

.footer__second {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 50px;
}
.footer__second-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 128%;
  color: $primary-color;
  margin: 0;
  margin-bottom: 17px;
}

.footer__second-element-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $primary-color;
  opacity: 0.5;
  text-decoration: none;
}

.footer__second-list {
  padding: 0;
  margin: 0;
}
