.new__title {
  position: relative;
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  margin-right: 70px;
  margin-top: 0;
  margin-bottom: 0;
}
// .new__title::before {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   background-image: url(./images/header/icons/Vector-logo.svg);
//   width: 39px;
//   height: 24px;
//   transform: translateY(-50%);
// }

// .new__title::after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   background-image: url(./images/header/icons/Vector-logo.svg);
//   width: 39px;
//   height: 24px;
//   transform: translateY(-50%);
// }

.new__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 45px;
}
.new__logo {
  width: 39px;
  height: 24px;
  opacity: 0.2;
}
.new__logo.left {
  margin-right: 70px;
}
.new__articles-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 54px;
}
.new__article:not(:last-child) {
  margin-right: 30px;
}
.new__article-title {
  font-family: Roboto, sans-serif;
  margin-top: 0;
  margin-bottom: 11px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $second-color;
}
.new__article-subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #c4c4c4;
  margin-top: 0;
  margin-bottom: 16px;
}
.new__article-prevprice {
  margin-right: 33px;
  text-decoration: line-through;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #c4c4c4;
}
.new__article-price {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: $second-color;
}
.backdrop-wrapper {
  position: relative;
  overflow: hidden;
}
.new__backdrop {
  position: absolute;
  //   top: 100%;
  z-index: 300;
  box-sizing: border-box;
  height: 135px;
  width: 100%;
  background-color: rgba($color: $primary-color, $alpha: 0.6);
  padding: 23px 71px 23px 71px;

  transition: transform 250ms ease-in-out;
}
.new__backdrop-mini {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 4px;
  right: 0;
  z-index: 300;
  box-sizing: border-box;
  height: 90px;
  width: 60px;
  background-color: rgba($color: $primary-color, $alpha: 0.6);
  transform: translateX(60px);
  transition: transform 250ms ease-in-out;
}
.article__link {
  text-decoration: none;
}
.article__link {
  &:hover .new__backdrop,
  &:focus .new__backdrop {
    transform: translateY(-135px);
    opacity: 1;
  }
  &:hover .new__backdrop-mini,
  &:focus .new__backdrop-mini {
    transform: translateX(0px);
    opacity: 1;
  }
}
.new__backdrop-shop-btn,
.new__backdrop-buy-btn {
  box-sizing: border-box;
  width: 160px;
  height: 40px;
}
.new__backdrop-shop-btn {
  font-family: Roboto, sans-serif;
  opacity: 1;
  margin-bottom: 10px;
  background-color: $second-color;
  border: 1px solid $second-color;
  color: $primary-color;
  border-radius: 2px;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
}
.new__backdrop-buy-btn {
  font-family: Roboto, sans-serif;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: $second-color;
}
.new__backdrop-more {
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: $second-color;
  text-decoration: none;
  //   border-bottom: 2px solid #000;
}
.new__backdrop-more::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 2px;
  background-color: $second-color;
  width: 100%;
}

.new__icon-fullscreen {
  width: 16px;
  height: 16px;
  margin-bottom: 18px;
}
.new__icon-heart {
  width: 19px;
  height: 19px;
}
.new__sale-title {
  position: absolute;
  top: 29px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  background-color: $second-color;
  width: 90px;
  height: 25px;
  margin: 0;
  text-align: center;
  border-radius: 0px 100px 100px 0px;
}
.new__more-btn {
  display: block;
  width: 191px;
  height: 40px;
  margin: 0 auto;
  background-color: $primary-color;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: $second-color;
  border-radius: 2px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.new__more-btn:hover,
.new__more-btn:focus {
  background-color: $second-color;
  color: $primary-color;
}
