.presentation {
  position: relative;
  padding-top: 50px;
}
.main-bcg {
  position: relative;
}
.presintation__main {
  position: absolute;
  top: 200px;
  left: 50%;
  z-index: -1;
  background-image: linear-gradient(
      to right,
      rgba(#e5e5e5, 0.3),
      rgba(#e5e5e5, 0.3)
    ),
    url(./images/presentation/presentation-main.jpg);
  height: 554px;
  width: 1076px;
  transform: translateX(-50%);
  border-radius: 2px;
}
.presentation__article {
  position: relative;
}
.presentation__article.right {
  text-align: right;
}
.presentation__article-wrapper.right {
  text-align: left;
  left: 530px;
  top: 95px;
  border-radius: 2px 2px 2px 20px;
}
.presentation__article-wrapper {
  position: absolute;
  width: 351px;
  height: 187px;
  top: 65px;
  left: 330px;
  padding: 39px 50px 40px 38px;
  background-color: $second-color;
  color: $primary-color;
  border-radius: 2px 2px 20px 2px;
}
.presentation__slider-button {
  position: absolute;
  top: 100px;
  right: 182px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 55px;
}
.presentation__icon-arrow {
  width: 18px;
  height: 18px;
  opacity: 0.3;
}
.presentation__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}
.presentation__button.right {
  margin-left: 68px;
  background-color: $primary-color;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.presentation__button.left {
  margin-right: 68px;
  background-color: $primary-color;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.presentation__icon-arrow.right {
  fill: $second-color;
  // opacity: 1;
}
.presentation__icon-arrow.left {
  fill: $second-color;
}
.presentation__button.right:hover,
.presentation__button.right:focus {
  & .presentation__icon-arrow.right {
    fill: $primary-color;
    opacity: 1;
  }
  background-color: $second-color;
}
.presentation__button.left:hover,
.presentation__button.left:focus {
  & .presentation__icon-arrow.left {
    fill: $primary-color;
    opacity: 1;
  }
  background-color: $second-color;
}

.presentation__icon-dot {
  width: 6px;
  height: 6px;
  margin-right: 14px;
}
.presentation__icon-dot.innactive {
  fill: #e5e5e5;
}
.presentation__article-title {
  font-family: Georgia, sans-serif;
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  color: $primary-color;
  margin: 0;
  margin-bottom: 24px;
}
.presentation__article-description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  margin: 0;
  margin-bottom: 36px;
}
.presentation__article-price {
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 128%;
  text-align: center;
  color: $primary-color;
}
.price {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 128%;
  text-align: center;
  color: $primary-color;
}
.presentation__artcle-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.presentation__article-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $second-color;
  border-color: $primary-color;
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.presentation__article-button:hover,
.presentation__article-button:focus {
  background-color: $primary-color;
  & .presentation__article-icon__arrow-right {
    fill: $second-color;
  }
}

.presentation__article-icon__arrow-right {
  fill: $primary-color;
  width: 12px;
  height: 12px;
}
.presentation__main-title {
  position: absolute;
  bottom: 155px;
  font-family: Georgia;
  font-style: italic;
  font-size: 30px;
  line-height: 38px;
  color: $second-color;
  margin: 0;
}

.presentation__main-button {
  position: absolute;
  z-index: 220;
  bottom: 380px;
  left: 293px;
  padding: 11px 39px 12px 39px;
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  color: $primary-color;
  background-color: $second-color;
  margin: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.presentation__main-button:hover,
.presentation__main-button:focus {
  background-color: $primary-color;
  color: $second-color;
}
.presentation__main-logo {
  width: 217px;
  height: 133px;
  position: absolute;
  top: 250px;
  right: 240px;
  fill: $second-color;
}
.presentation__brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
